@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap');

:root {
  --font-primary: 'Roboto Mono', monospace;
  --font-accent: 'Rubik', sans-serif;
  --color-background: #262a2f;
  --color-accent: #ff5533;
  --color-black: #1e2027;
  --color-grey: #8a8a8a;
  --color-grey-light: #e5e5e5;
  --color-white: #fff;
  --container-width: 1075px;
}

*:focus-visible {
  outline: 2px solid var(--color-white);
}

*:not(svg *) {
  all: unset;
  display: revert;
}

svg {
  display: block;
}

body {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--color-grey-light);
  background-color: var(--color-background);
}

.container {
  max-width: var(--container-width);
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-family: var(--font-accent);
  font-size: 40px;
  line-height: 1.3;
  text-transform: uppercase;
}

.link {
  font-weight: inherit;
  color: var(--color-accent);
  text-decoration: underline;
  cursor: pointer;
  transition: opacity 0.2s;
}

.link:focus,
.link:hover {
  opacity: 0.7;
}
