.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  margin-left: 200px;
}

.not-found__title {
  margin-bottom: 4px;
  color: var(--color-accent);
}

.not-found__description {
  font-size: 15px;
  text-transform: uppercase;
}
