.users-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.users-list__item {
  display: flex;
  align-items: center;
}

.users-list__image-container {
  margin-right: 10px;
}

.users-list__image {
  display: block;
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}

.user-list_title {
  margin-bottom: 4px;
}

.users-list__text {
  display: -webkit-box;
  margin-left: 4px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
