.locale-switcher-button {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}

.locale-switcher-button--opened {
  transform: rotate(0);
}

.locale-switcher-button--opened .locale-switcher-button__icon {
  transform: rotate(180deg);
}

.locale-switcher-button__text {
  font-family: var(--font-accent);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
