.locale-switcher-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-width: 140px;
  padding: 6px 16px;
}

.locale-switcher-menu__option {
  color: var(--color-background);
  cursor: pointer;
  border-bottom: 2px solid var(--color-grey-light);
}

.locale-switcher-menu__option:focus-visible {
  border-bottom: 2px solid var(--color-accent);
  outline: none;
}

.locale-switcher-menu__option--active {
  color: var(--color-accent);
  cursor: pointer;
}

.locale-switcher-menu__text {
}
